<html>

<head>
  <title>Welfare Board |</title>
  <link rel="stylesheet" href="./css/styleWelfare.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <style></style>
</head>

<body>
  <div class="header">
    <span class="logo">
      <a href="https://www.iitg.ac.in"><img src="./images/iit_logo.png" alt="1200px-IIT-Guwahati-Logo-1" /></a>
    </span>
    <span class="title">
      <h5 class="text-sm">INDIAN INSTITUTE OF TECHNOLOGY GUWAHATI</h5>
    </span>
  </div>

  <!-- Top NavBar -->
  <nav>
    <ul class="topNav">
      <LI><a href="#WB">
          <H5 class="welfare">WELFARE BOARD</H5>
        </a></LI>
      <li><a href="#SA">STUDENT AFFAIRS BOARD</a></li>
      <LI><a href="#HAB">HOSTEL AFFAIRS BOARD</a></LI>
      <LI><a href="#TECH">TECHNICAL BOARD</a></LI>
      <LI><a href="#CB">CULTURAL BOARD</a></LI>
      <LI><a href="#SB">SPORTS BOARD</a></LI>
    </ul>
  </nav>

  <div class="slideshow-container">
    <div class="mySlides1">
      <img src="./images/img_nature_wide.jpg" style="width: 100%" />
    </div>

    <div class="mySlides1">
      <img src="./images/img_snow_wide.jpg" style="width: 100%" />
    </div>

    <div class="mySlides1">
      <img src="./images/img_mountains_wide.jpg" style="width: 100%" />
    </div>

    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
  </div>

  <!-- Bottom NavBar -->

  <nav class="navbar navbar-expand-lg">
    <div class="bottomNav">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="home" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sathi-Counselling Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Red Ribbon Club</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Academic Intiative Club</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Social Service Club</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Youth Empowerment Club</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Rights & Responsibility Club</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Side NavBar -->
  <div class="middle">
    <div class="col-md-2">
      <ul class="nav flex-column list2">
        <li class="nav-item list">
          <h4 class="nav-link text-secondary" aria-current="page" id="contentHead">
            Contents
          </h4>
        </li>
        <li class="nav-item list">
          <a class="nav-link text-secondary" aria-current="page" href="#welfareBoardHeading">About
          </a>
        </li>
        <li class="nav-item list">
          <a class="nav-link text-secondary" href="#announcement">Announcements</a>
        </li>
        <li class="nav-item list">
          <a class="nav-link text-secondary" href="#achievements">Achievements</a>
        </li>

        <li class="nav-item list">
          <a class="nav-link text-secondary" href="#">Events</a>
        </li>
      </ul>
    </div>
  </div>

  <script>
    var slideIndex = [1, 1];
    var slideId = ["mySlides1", "mySlides2"];
    showSlides(1, 0);

    function plusSlides(n, no) {
      showSlides((slideIndex[no] += n), no);
    }

    function showSlides(n, no) {
      var i;
      var x = document.getElementsByClassName(slideId[no]);
      if (n > x.length) {
        slideIndex[no] = 1;
      }
      if (n < 1) {
        slideIndex[no] = x.length;
      }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex[no] - 1].style.display = "block";
    }
  </script>

  <!-- Welcome -->
  <div class="welcome">
    <H1 id="welfareBoardHeading">Welcome to Welfare Board, IIT Guwahati</H1>
    <div class="aboutWelfare">
      <h3 id="about">About</h3>
      <p>
        <%=about.body%>
      </p>
    </div>
    <div class="ourVision">
      <h3 id="vision">Vision</h3>
      <P>
        <%=vision.body%>
      </P>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>