html,body {
    height: 100%;
    
    font-family:sans-serif;
}
.main-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.side-bar{
    width: 20%;
    /* background-color: red; */
    height: 100%; 
    border-right: solid 0.2px lightgray;
    display: flex;
    flex-direction: column;


}
.heading{
   height: 15%;
   align-items: center;
}
.heading-image{
    padding-left: 20%;
    padding-top: 5%;
}
.side-bar-main{
    padding-left: 5%;
}
.main-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;

}
.top-main-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    height: 10%;  
    border-bottom: solid 0.2px lightgray;
}

.dropdown-toggle::after {
    content: none;
}
.mail{
    display: flex;
    margin-right: 2%;
    
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-content a:hover {
	text-decoration: none;
	color: black;
	background-color: #ddd;
    display: block;
    
}
.dropdown:hover .dropdown-content {
	display: block;

}
.dropdown{
	margin-right: 5%;
	margin-left: 5%;
    position: relative;
   display: inline-block;
}
.bottom-main-bar{
    height: 100%;
    background-color:#F6F7FB;
        overflow-y: auto;
}

.bottom-main-line{
    padding-left: 5%;
    padding-top: 10%;
    display: flex;
    flex-direction: row;

}
.delete-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bottom-main-heading{
    width: 40%;
}
.bottom-main-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35%;
}
.button1{
    margin-right: 10%;
}
.button2{
    margin-left: 5%;
}
.bottom-main-card{
    background-color: rgb(252, 249, 249);
    margin: 5%;
    margin-top: 2%;
}
.card-heading{
    color: gray;
    margin-top: 2%;
}

